.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 51px;
}

@media (max-width: 719px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }
}

.profile__add-button {
  width: 150px;
  height: 50px;

  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border: 1px solid #fff;
  border-radius: 2px;
  background-color: unset;
  transition: opacity 0.4s ease-in;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (max-width: 719px) {
  .profile__add-button {
    margin-top: 36px;
    width: 100%;
  }
}

.profile__add-button-icon {
  width: 22px;
  object-fit: cover;
}

@media (max-width: 524px) {
  .profile__add-button-icon {
    width: 16px;
  }
}

.profile__avatar {
  border-radius: 50%;
  object-fit: cover;

  width: 120px;
  height: 120px;
}

.profile__avatar-block {
  position: relative;
}

.profile__avatar-block:hover > .profile__avatar-overlay {
  visibility: visible;
}

.profile__avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 120px;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000;
  opacity: 0.8;

  visibility: hidden;
}

.profile__avatar-overlay:hover {
  cursor: pointer;
}

.profile__edit-button {
  margin: 15px 0 0 18px;
  padding: 0;

  min-width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  box-sizing: border-box;
  border: 1px solid #fff;
  background-color: unset;

  transition: opacity 0.4s ease-in;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 524px) {
  .profile__edit-button {
    min-width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 8px;
  }
}

.profile__edit-button-icon {
  width: 10px;
  object-fit: cover;
}

@media (max-width: 524px) {
  .profile__edit-button-icon {
    width: 7.5px;
  }
}

.profile__info {
  margin: 22px 0 0 30px;
  max-width: 336px;
}

@media (max-width: 524px) {
  .profile__info {
    max-width: 282px;
    margin-top: 26px;
    margin-left: 0;
  }
}

.profile__info-block {
  display: flex;
}

@media (max-width: 524px) {
  .profile__info-block {
    flex-direction: column;
    align-items: center;
  }
}

.profile__info-container {
  display: flex;
}

.profile__overlay-icon {
  width: 26px;
  height: 26px;
}

.profile__user-job {
  margin: 16px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  color: #fff;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 524px) {
  .profile__user-job {
    font-size: 14px;
    margin-top: 14px;
    text-align: center;
  }
}

.profile__user-name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #fff;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 524px) {
  .profile__user-name {
    font-size: 27px;
    line-height: 1.21;
  }
}

.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;

  justify-content: center;

  margin-bottom: 67px;
}

@media (max-width: 524px) {
  .elements {
    margin-bottom: 48px;
  }
}
