.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  visibility: hidden;
  opacity: 0;
  transition: 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);

  font-family: "Inter", "Arial", sans-serif;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.popup__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  border: none;
  background-color: unset;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;

  transition: opacity 0.4s ease-in;
}

.popup__close-btn:hover {
  opacity: 0.6;
}

@media (max-width: 545px) {
  .popup__close-btn {
    top: -36px;
    right: 0;
  }
}

.popup__close-btn-icon {
  width: 32px;
  object-fit: cover;
}

@media (max-width: 545px) {
  .popup__close-btn-icon {
    width: 20px;
  }
}

.popup__container {
  box-sizing: border-box;
  width: 430px;
  padding: 34px 36px 37px 36px;

  border-radius: 10px;
  background-color: #fff;

  display: flex;
  flex-direction: column;

  position: relative;
}

@media (max-width: 545px) {
  .popup__container {
    padding-left: 22px;
    padding-right: 22px;
    margin-left: 19px;
    margin-right: 19px;
  }
}

.popup__error {
  display: block;
  visibility: hidden;
  font-family: "Inter", "Arial", sans-serif;
  color: #ff0000;
  font-size: 12px;
  line-height: 1.25;
}

.popup__error_active {
  visibility: visible;
}

.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;

  margin: 0;
  padding: 0 0 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.popup__input:focus {
  outline: none;
}

.popup__input_invalid {
  border-bottom: 1px solid #ff0000;
}

.popup__input-container {
  height: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup__input-container:first-child {
  margin-bottom: 13px;
}

.popup__submit-btn {
  margin: 31px 0 0 0;
  padding: 0;
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000;
  border: none;
  border-radius: 2px;

  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  cursor: pointer;

  transition: opacity 0.4s ease-in;
}

.popup__submit-btn:hover {
  opacity: 0.8;
}

@media (max-width: 545px) {
  .popup__submit-btn {
    height: 46px;
    font-size: 14px;
    margin-top: 45px;
    margin-bottom: 25px;
  }
}

.popup__submit-btn_invalid {
  cursor: default;
  border: 1px solid #000;
  background-color: unset;
  color: #000;
  opacity: 0.2;
}

.popup__submit-btn_invalid:hover {
  opacity: 0.2;
}

.popup__submit-btn_confirm-remove {
  margin-top: 0;
}

.popup__title {
  margin: 0 0 54px 0;
  width: 100%;

  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
}

@media (max-width: 545px) {
  .popup__title {
    margin-top: 25px;
    margin-bottom: 75px;
    font-size: 18px;
  }
}

.popup__title_confirm-remove {
  margin-bottom: 38px;
}

.popup_dark_overlay {
  background-color: rgba(0, 0, 0, 0.9);
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
