.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign__title {
  margin: 20px 0 50px 0;
  color: #fff;
  text-align: center;
}

.sign__form {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 160px);
  justify-content: space-between;
  max-width: 358px;
  width: 100%;
}

.sign__input {
  color: #ccc;
  padding: 0 0 10px 0;
  border: unset;
  border-bottom: 2px solid #ccc;
  background-color: unset;
  width: 100%;
}

.sign__input:focus {
  outline: unset;
}

.sign__input:last-child {
  margin-top: 30px;
}

.sign__button {
  padding: 0;
  margin-bottom: 112px;
  border-radius: 2px;
  width: 100%;
  padding: 14px 0 14px 0;
  font-size: 18px;
  line-height: 1.22;
}

.sign__button_type-register {
  margin-bottom: 15px;
}

.sign__signup {
  margin: 0 0 80px 0;
  text-align: center;
  color: #ccc;
  font-size: 14px;
  line-height: 1.21;
}
