.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  visibility: hidden;
  opacity: 0;
  transition: 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);

  font-family: "Inter", "Arial", sans-serif;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
